<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample">
  <select id="getSample" parameterType="org.oh.agent.model.Sample" resultType="org.oh.agent.model.Sample">
	<![CDATA[
SELECT userid
      ,username
  FROM userinfo
 WHERE userid = #{userid}
  ]]>
  </select>

  <select id="getSampleList" resultType="org.oh.agent.model.Sample">
	<![CDATA[
SELECT userid
      ,username
  FROM userinfo
  ]]>
  </select>

  <insert id="addSample">
	<![CDATA[
INSERT INTO userinfo (userid
                     ,username)
VALUES ( #{userid}
       , #{username})
  ]]>
  </insert>
</mapper>